.dashboardPage {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100vh;
  width: 100%;
  overflow: scroll;
  font-family: 'Inter Medium', sans-serif;

  &-block {
    &--insight {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &-title {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        margin-bottom: 1rem;

        h3 {
          font-size: 1.5rem;
          font-family: 'Roboto Bold';
          font-weight: bold;
          margin: 0;
          margin-bottom: 0.5rem;
          padding: 0;
        }
      }

      &-body {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;

        &-item {
          background-color: white;
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          margin-bottom: 0.5rem;
          padding: 1rem;
          text-decoration: none;
          transition: all 0.3s ease-in-out;
          border-radius: 8px;

          &-text {
            font-size: 0.9rem;
            font-family: 'Inter Light', sans-serif;
            font-weight: bold;
            color: $gray-400 !important;
            margin-bottom: 0.5rem;
          }

          // & svg {
          //   width: 1.5rem;
          //   height: 1.5rem;
          //   cursor: pointer;
          // }
        }
      }
    }

    &--statistics {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      margin-bottom: 1rem;

      &-item {
        height: 50vh;
        // background-color: white;
        margin-bottom: 0.5rem;
        padding: 1rem;
      }
    }

    &--recent-orders {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // gap: 1rem;
      // margin-bottom: 1rem;

      &-title {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // margin-bottom: 1rem;

        &-text {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: start;
          align-items: center;
          // margin-bottom: 1rem;

          h3 {
            font-family: 'Roboto Bold';
            font-weight: bold;
            margin: 0;
            // margin-bottom: 0.5rem;
            padding: 0;
          }
        }

        &-button {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          margin-bottom: 1rem;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .dashboardPage {
    margin: 0;
    padding: 0;
    &-block--insight {
      padding: 0.5rem;
      flex-direction: column;

      &-title p {
        margin: 0.5rem 0;
        font-size: 1rem;
        font-family: 'Roboto Bold';
        color: #9e9e9e;
        font-weight: bold;
      }

      &-body {
        &-item {
          margin-bottom: 0.5rem;
          padding: 0.5rem;
          display: flex;

          & svg {
            width: 1.5rem;
            height: 1.5rem;
            cursor: pointer;
          }

          &-text {
            font-size: 0.8rem;
            font-family: 'Inter Light', sans-serif;
            font-weight: bold;
            color: $gray-400 !important;
            margin-bottom: 0.5rem;
            color: #9e9e9e;
          }
          &-value {
            font-size: 1.5rem;
            font-family: 'Inter Medium', sans-serif;
            font-weight: bold;
            color: $gray-400 !important;
            margin-bottom: 0.5rem;
          }
        }
      }
    }

    &--recent-orders {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &-title {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-text {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: start;
          align-items: center;

          h3 {
            font-family: 'Roboto Bold';
            font-weight: bold;
            margin: 0;
            padding: 0;
          }
        }

        &-button {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          margin-bottom: 1rem;
        }
      }

      &-body {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;

        & .table-responsive {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 1rem;
          margin-bottom: 1rem;
        }
      }
    }
  }
}
