api.ouvrierpourtout.com www.api.ouvrierpourtout.com {
	reverse_proxy localhost:4000
}


ouvrierpourtout.com www.ouvrierpourtout.com {
	reverse_proxy localhost:8000
}


admin.ouvrierpourtout.com www.admin.ouvrierpourtout.com {
	reverse_proxy localhost:8001
}