.button {
  border: 2px solid;
  height: 36px;
  @extend %flex-row-center-center;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
  border-radius: 4px;
  font-size: 14px;
  font-family: 'Apercu Medium';
  padding: 0.5rem 0.8rem;
  gap: 0.3rem;
  &:active {
    transform: scale(0.9);
  }

  @media (max-width: 768px) {
    gap: 0.1rem;
  }
}

.checkbox {
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
  @extend %flex-row-center-start;
  &--check {
    width: 18px;
    height: 18px;
    @extend %flex-col-center-center;
    border: 1.5px solid;
    border-radius: 4px;
    transition: 0.3s;
  }
  &--label {
    font-size: 12px;
    font-family: 'Apercu Medium';
    margin-left: 0.4rem;
    line-height: 0;
  }
}

.switch {
  width: 50px;
  height: 30px;
  background-color: $gray-400;
  border-radius: 30px;
  @extend %flex-row-center;
  transition: 0.3s;
  position: relative;
  &--btn {
    position: absolute;
    z-index: 10;
    transition: 0.3s;
    width: 26px;
    height: 26px;
    border-radius: 26px;
    background-color: $white;
    border: 0;
    outline: none;
    cursor: pointer;
  }
}

.barcodeBtn {
  @extend %flex-col-start-start;
  &--label {
    font-family: 'Apercu Medium';
    font-size: 13px;
    white-space: nowrap;
    color: $dark-500;
    margin: 0 0 0 0.5rem;
  }
  &--contain {
    width: 100%;
    @extend %flex-row-center-between;
    border: 2px solid $gray-400;
    height: 40px;
    overflow: hidden;
    border-radius: 4px;
    padding-left: 0.5rem;
    input {
      width: 61%;
      flex: 1;
      height: 100%;
      text-align: left;
      font-size: 14px;
      font-family: 'Apercu Medium';
      outline: none;
      border: 0;
    }
    button {
      width: 36px;
      height: 100%;
      background-color: $primary-500;
      @extend %flex-col-center-center;
      cursor: pointer;
      border: 0;
      outline: none;
      border-radius: 4px;
    }
  }
}

.pill {
  padding: 0.6rem 0.8rem;
  border-radius: 1rem;
  @extend %flex-col-center-center;
  background-color: $gray-400;
  border: 0;
  color: $dark-500;
  transition: 0.3s;
  cursor: pointer;
  font-family: 'Apercu Medium';
  font-size: 13px;
  margin: 0 0.5rem;
  &:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.081);
  }
  &--selected {
    background-color: $primary-500 !important;
    color: $white !important;
  }
}
