.onlinePage {
  display: flex;
  justify-content: start;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #f5f5f5;
  font-family: 'Inter Medium', sans-serif;

  &-content {
    width: 75%;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
}
