%label {
  font-family: 'Apercu Medium';
  font-size: 13px;
  white-space: nowrap;
  color: $dark-400;
  margin-left: 0.5rem;
}

%field_layout {
  width: 100%;
  height: 40px;
  outline: none;
  padding: 0 0.5rem;
  font-family: 'Apercu Medium';
  font-size: 13px;
  transition: 0.3s;
  border: 0;
  background-color: transparent;
  white-space: nowrap;
  &::placeholder {
    font-family: 'Apercu Medium';
    font-size: 13px;
    color: $gray-400;
  }
  &:focus {
    border-color: $gray-400;
  }
}

.input {
  @extend %flex-col-start-start;
  // height: 55px;
  label {
    @extend %label;
  }
  &-inputBlock {
    width: 100%;
    height: 40px;
    border: 1px solid $gray-300;
    @extend %flex-row-center-between;
    outline: none;
    border-radius: 8px;
    gap: 0.3rem;
    padding: 0 0.5rem;
    &-input {
      @extend %field_layout;
    }
  }
  & .input-error {
    margin-top: 0.2rem;
    padding: 0.3rem 0.5rem;
    background-color: $danger-100;
    color: $danger-600;
  }
}

.inputSearch {
  @extend %flex-row-center-between;
  height: 40px;
  border: 2px solid $gray-300;
  border-radius: 8px;
  padding: 0 0.5rem 0 0;
  input {
    outline: none;
    border: 0;
    flex: 1;
    background-color: transparent;
    padding: 0 0.5rem;
    font-family: 'Apercu Medium';
    font-size: 13px;
    &::placeholder {
      font-family: 'Apercu Medium';
      font-size: 13px;
      color: $gray-500;
    }
  }
}

.select {
  @extend %flex-col-start-start;
  label {
    @extend %label;
  }
  select {
    @extend %field_layout;
    border: 1px solid $gray-300;
    border-radius: 8px;
  }
}

.dynamicTextarea {
  label {
    @extend %label;
  }
  & {
    margin-bottom: 1rem;
  }
}

.ql-container.ql-snow {
  min-height: 158px;
  border: 0;
}

.quill {
  border-radius: 8px;
  border: 1px solid $gray-300 !important;
  box-shadow: none !important;
}

.ql-toolbar.ql-snow {
  border-bottom: 1px solid $gray-300 !important;
}

.iconed-input {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid #c4cbd4;
  background-color: #f0f2f4;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.iconed-input-input {
  display: flex;
  margin-left: 0.5rem;
  flex-grow: 1;
  font-size: 0.7rem;
  border: 0;
  background-color: #f0f2f4;
}

.iconed-input-input:focus {
  outline: none;
}

.one-digit-input {
  width: 3rem;
  height: 3rem;
  font-size: 1.1rem;
  color: '#323B49';
  font-weight: 700;
  text-align: center;
  border-radius: 0.5rem;
  border: 1px solid #c4cbd4;
  background-color: #f0f2f4;
}

.PhoneInput {
  @extend %flex-row-center;
  width: 100%;
  height: 40px;
  border: 0;
  border-radius: 10px;
  input {
    outline: none;
    border: 0;
    flex: 1;
    background-color: transparent;
    padding: 0 0.5rem;
    font-family: 'Apercu Medium';
    font-size: 13px;
    &::placeholder {
      font-family: 'Apercu Medium';
      font-size: 13px;
      color: $gray-500;
    }
  }
}
