.readPicture {
  // width: 190px;
  height: 200px;
  border: 2px solid #efefef;
  border-radius: 6px;
  padding: 0.5rem;
  position: relative;
  // @extend %flex-col-center-center;
  margin: 0.5rem;
  &--btn {
    position: absolute;
    top: 0.5rem;
    background-color: red;
    border: 0;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    display: none;
    cursor: pointer;
  }
  &:hover > &--btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // @extend %flex-col-center-center;
  }
  &--img {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // @extend %flex-col-center-center;
    img {
      width: 90%;
      height: 90%;
      object-fit: contain;
    }
    span {
      font-family: 'Inter Medium';
      font-size: 12px;
    }
  }
}

.upload {
  // width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #eeeeee;
  border-radius: 1rem;
  border: 2px dashed lightgray;
  // padding: 1rem;
  &--title {
    font-size: 14px;
    font-family: 'Apercu Medium';
    margin: 0;
    color: black;
    text-align: center;
  }
}
