.demandesPage {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;

  @media (max-width: 768px) {
    padding: 0rem !important;
    width: 100%;
    height: 100vh;
    gap: 0;
  }
}
