button {
  @extend %flex-center;
  @extend %flex-row;
  padding: 0 20px;
  border-radius: 8px;
  background-color: $gray-900;
  color: $white-100;
  font-size: 16px;

  &:hover {
    background-color: $gray-800;
    color: $white-100;
  }

  &:active {
    background-color: $gray-700;
    color: $white-100;
  }

  &:focus {
    background-color: $gray-700;
    color: $white-100;
  }
}
