.tableLayout {
  @extend %flex-col-center-start;
  flex: 1;
  overflow-x: auto; // Permettre un défilement horizontal
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 0.75rem;
  position: relative;

  @media (max-width: 768px) {
    width: 100%;
  }

  &--row {
    width: 100%;
    @extend %flex-row-center-between;
    min-height: 60px;
  }

  &--cell {
    @extend %flex-row-center-start;
    flex: 1;
    min-height: 60px;
    padding: 0.5rem;

    @media (max-width: 768px) {
      flex: 1;
      width: 100%; // Chaque cellule prend toute la largeur en mode mobile
      display: flex;
      padding: 0.3rem 0;
    }
  }

  &--header {
    font-weight: 700;
    background-color: #ccc;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 100;

    @media (max-width: 768px) {
      display: inline-flex;
      flex-wrap: wrap; // Réorganise les colonnes sur plusieurs lignes
      align-content: start;
      width: 100%;
    }
  }

  &--badge {
    @extend %flex-row-center-center;
    padding: 0.3rem 0.8rem;
    border-radius: 0.4rem;
    font-size: 0.775rem;
  }

  &--footer {
    width: 100%;
    @extend %flex-row-center-between;
    background-color: #fff;
    padding: 1rem;
    border-top: 1px solid #f0f1f3;
    margin-top: auto;
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;

    &-pagination {
      @extend %flex-row-center;
    }
  }

  &--infosBox {
    width: 100%;
    height: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  // Masquer les colonnes non essentielles sur mobile
  .hide-on-mobile {
    display: none;

    @media (min-width: 768px) {
      display: flex; // Afficher uniquement sur écrans plus grands
    }
  }
}

.tableLayout--dropdown {
  position: relative;
  // width: 100%;
  z-index: 200 !important;
  //TODO: à revenir de suis après la presentation de demain consiste à reduire la taille des textes
  & .dropdown--menu-items {
    position: absolute;
    top: 3rem;
    background-color: $white;
    border-radius: 10px;
    @extend %flex-col-center-start;
    gap: 0.5rem;
    overflow: hidden;

    & .dropdown--menu-item {
      width: 100%;
      padding: 1rem;
      @extend %flex-row-center-start;
      gap: 0.5rem;
      background-color: transparent;
      border: 0;

      p {
        font-family: 'Apercu Medium';
        font-size: 14px;
        margin: 0;
        padding: 0;
        text-align: left;
      }
      &:hover {
        background-color: $primary-100;
      }
    }
  }
}

.online-left-right-toolbar {
  padding-left: '0.5rem';
  padding-right: '0.5rem';
  padding-top: '1rem';
  padding-bottom: '1rem';
  @extend %flex-row-start-between;
  gap: 0.5rem;
  background-color: $purple-400 !important;

  // style ajouté pour le format mobile
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 0.5rem;
  }

  &-left {
    @extend %flex-row-center-center;
    & .dropdown {
      position: relative;
      // width: 100%;
      z-index: 200 !important;
    }
  }

  &-right {
    @extend %flex-row-center-center;
    & .dropdown {
      position: relative;
      // width: 100%;
      z-index: 200 !important;
    }
  }
}
