@import '../../../assets/css/styles.css';

/*** Specialite Section ***/
.specialite-section {
  margin-top: 100px;
}

.specialite-section .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.specialite-section .card {
  position: relative;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.specialite-section .card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.specialite-section .card-body {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background: transparent;
  /* background-color: rgba(255, 255, 255, 0.296); */
  color: var(--secondary);
  /* text-align: center; */
  transition: all 0.3s ease-in-out;
  /* transform: translateY(100%); */
}

/* offer */
.offer {
  margin-top: 100px;
}

/* */
.temoinage {
  margin-top: 100px;
}
