@font-face {
  font-family: 'Roboto Light';
  src: url(../assets/fonts/Roboto-Light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Thin';
  src: url(../assets/fonts/Roboto-Thin.ttf);
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Regular';
  src: url(../assets/fonts/Roboto-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Medium';
  src: url(../assets/fonts/Roboto-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url(../assets/font/Roboto/Roboto-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Black';
  src: url(../assets/fonts/Roboto-Black.ttf);
  font-weight: 900;
  font-style: normal;
}
//Inter

@font-face {
  font-family: 'Inter Light';
  src: url(../assets/font/Inter/static/Inter_18pt-Light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter Regular';
  src: url(../assets/font/Inter/static/Inter_18pt-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter Medium';
  src: url(../assets/font/Inter/static/Inter_18pt-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter Bold';
  src: url(../assets/fonts/Inter-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter Black';
  src: url(../assets/fonts/Inter-Black.ttf);
  font-weight: 900;
  font-style: normal;
}
