.w-full {
  width: 100%;
}

.w-half {
  width: 50%;
}

.w-third {
  width: 33.333333%;
}

.w-two-third {
  width: 66.666666%;
}

.w-quarter {
  width: 25%;
}

.w-three-quarter {
  width: 75%;
}

.w-auto {
  width: auto;
}

.w-screen {
  width: 100vw;
}

.w-min {
  width: min-content;
}

.w-max {
  width: max-content;
}

.w-fit {
  width: fit-content;
}
