.onlineHeader {
  width: 100%;
  padding: 1rem 0;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-title {
    font-size: 1.3rem;
    font-family: 'Roboto Bold';
    font-weight: bold;
    margin: 0;
    margin-bottom: 0.5rem;
    padding: 0;
  }

  &-nav {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0;
    padding: 0;

    &-item {
      display: flex;
      justify-content: start;
      align-items: center;
      font-size: 1rem;
      padding: 0;
      text-decoration: none;
      color: $gray-300;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: $primary-color;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}
