.usersPage-block--detail-user-info-item {
  background-color: #fff;
  // padding: 1rem;
  margin-bottom: 1rem;

  .avatar-upload {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    &--overlay {
      position: relative;
      width: 100%;
      height: 100%;
      display: none;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 8px;
    }
    &--overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 8px;
      cursor: pointer;

      & svg {
        color: #fff;
        font-size: 4rem;
        margin-bottom: 0.5rem;
      }
    }
  }

  & .card--block-info-item {
    padding: 0 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: auto;

    &-content {
      line-height: 1.5;
      margin-bottom: 0.5rem;
      &--title {
        font-size: 9px;
        color: $gray-400;
      }
      &--value {
        font-size: 14px;
        font-weight: 700;
        font-family: 'Inter Medium';
      }
    }
  }
}

.contract-block {
  background-color: #fff;
  // padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  height: auto;

  &-body {
    padding: 1rem;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 1rem;
    width: 100%;
    height: auto;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    &-item {
      flex: 1;
      display: flex;
      justify-content: start;
      align-items: start;
      gap: 1rem;
      width: 100%;
      height: auto;

      &-title {
        font-size: 0.775rem;
        font-family: 'Inter Medium';
        font-weight: normal;
        color: #424242 !important;
        margin-bottom: 0.5rem;
      }

      &-value {
        font-size: 0.9rem;
        font-family: 'Roboto Bold';
        font-weight: bold;
        color: #212121 !important;
        margin-bottom: 0.5rem;
      }
    }
  }
}
