.partnersPage {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100vh;
  width: 100%;
  overflow: scroll;
  font-family: 'Inter Medium', sans-serif;

  &-block {
    &--partners {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      margin-bottom: 1rem;

      &-title {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        h3 {
          // font-size: 1.5rem;
          font-family: 'Roboto Bold';
          font-weight: bold;
          margin: 0;
          margin-bottom: 0.5rem;
          padding: 0;
        }
      }

      &-body {
        width: 100%;
        height: 100%;
        // display: flex;
        // flex-direction: row;
        // justify-content: center;
        // align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;

        &-item {
          background-color: white;
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          margin-bottom: 0.5rem;
          padding: 1rem;
          text-decoration: none;
          transition: all 0.3s ease-in-out;
          border-radius: 8px;

          &-text {
            font-size: 0.9rem;
            font-family: 'Inter Light', sans-serif;
            font-weight: bold;
            color: $gray-400 !important;
            margin-bottom: 0.5rem;
          }

          // & svg {
          //   width: 1.5rem;
          //   height: 1.5rem;
          //   cursor: pointer;
          // }
        }
      }

      &-footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;

        &-button {
          background-color: $blue-500;
          padding: 1rem;
          border-radius: 8px;
          text-decoration: none;
          transition: all 0.3s ease-in-out;

          & button {
            font-size: 0.9rem;
            font-family: 'Inter Light', sans-serif;
            font-weight: bold;
            color: $white-100 !important;
            margin-bottom: 0.5rem;
            padding: 0;
            text-decoration: none;
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }
    &--detail-partners {
      width: 100%;
      height: calc(100% - 1rem);
      // height: 100vh;
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: start;
      gap: 1rem;
      // margin-bottom: 1rem;
      overflow: hidden;

      &-info {
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 1rem;
        overflow: scroll;
        scroll-behavior: smooth;
        scrollbar-width: none;
      }

      &-more-info {
        flex: 3;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;

        &-insight {
          width: 100%;
          height: auto;
          margin-bottom: 2rem;
          &-title {
            font-size: 0.9rem;
            font-family: 'Roboto Bold';
            margin-bottom: 1rem;
          }
          &-body {
            display: flex;
            justify-content: start;
            gap: 1rem;
            width: 100%;

            &-item {
              flex: 1;
              display: flex;
              gap: 1rem;
              padding: 1rem;
              background-color: #fff;
              border-radius: 8px;
            }
          }
        }

        &-demande {
          width: 100%;
          height: auto;
          margin-bottom: 1rem;

          &-title {
            font-size: 0.9rem;
            font-family: 'Roboto Bold';
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}
