.input-container {
  //   @extend %flex-center;
  //   @extend %flex-row;
  //   width: 100%;
  //   height: 50px;
  border-radius: 8px;
  border: 1px solid $gray-100;
  //   background-color: $gray-900;
  color: $white-100;
  font-size: 16px;

  input {
    @extend %flex-center;
    @extend %flex-row;
    width: 100%;
    height: 100%;
    // background-color: $gray-900;
    color: $dark-900;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    transition: all 0.3s ease-in-out;

    &:hover {
      //   background-color: $gray-800;
      color: $white-100;
    }

    &:active {
      //   background-color: $gray-700;
      //   color: $white-100;
    }

    &:focus {
      //   background-color: $gray-700;
      //   color: $white-100;
    }
  }
}
