.onlinePage {
  display: flex;
  justify-content: start;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #f9fafb;
  font-family: 'Inter Medium', sans-serif;

  @media (max-width: 768px) {
    background-color: $white;
  }

  &-content {
    // width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
