@import './Dashboard/index.scss';
@import './Users/index.scss';
@import './Partners/index.scss';
@import './Customers/index.scss';
@import './Ouvriers/index.scss';
@import './requestCustomer/index.scss';
