.sidebar {
  width: 20%;
  height: 100vh;
  background-color: $purple-400 !important;
  padding: 1rem;

  &-logo {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 1rem;

    img {
      width: 100px;
      height: 100px;
    }
  }

  &-nav {
    &-item {
      display: flex;
      justify-content: start;
      align-items: center;
      margin-bottom: 0.5rem;
      padding: 0.5rem 0;
      text-decoration: none;
      // color: $gray-300;
      transition: all 0.3s ease-in-out;
      border-radius: 8px;

      &:hover {
        background-color: #eeeeee;
        color: #ffdf66 !important;
        transition: all 0.3s ease-in-out;
      }

      &-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: $gray-200;
        margin-right: 1rem;
      }

      &-name {
        font-size: 0.9rem;
        font-family: 'Inter Light', sans-serif;
        font-weight: bold;
        color: $gray-400 !important;
      }
    }
  }

  &-footer {
    display: flex;
    justify-content: center;
    bottom: 10px;
    align-items: center;
    margin-top: 1rem;
    padding: 1rem 0;

    & .cardProfile {
      width: 100%;
      background-color: #f5f5f5;
      border: 1px solid #9e9e9e;
      border-radius: 8px;
      padding: 1rem;

      &-card-header {
        &-title {
          &-text {
            font-size: 1.3rem;
            font-family: 'Roboto Bold';
            font-weight: bold;
            margin: 0;
            margin-bottom: 0.5rem;
            padding: 0;
          }
        }
      }

      &-card-body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.5rem;
        padding: 0.5rem 0;
        text-decoration: none;
        // color: $gray-300;
        transition: all 0.3s ease-in-out;
        border-radius: 8px;

        &-item {
          display: flex;
          flex-direction: column;
          justify-content: start;
          // align-items: center;
          margin-bottom: 0.5rem;
          padding: 0.5rem 0;
          text-decoration: none;
          // color: $gray-300;
          transition: all 0.3s ease-in-out;
          border-radius: 8px;

          &-text {
            font-size: 0.9rem;
            font-family: 'Inter Light', sans-serif;
            line-height: 1.5;
            font-weight: bold;
            color: $gray-400 !important;
            margin-bottom: 0.5rem;
            text-align: justify;
          }

          & svg {
            width: 1.5rem;
            height: 1.5rem;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.active {
  background-color: #fff3d0 !important;
  color: $primary-color;
}
