.customersPage {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-family: 'Inter Medium', sans-serif;

  &-block {
    &--customers {
      gap: 1rem;
      margin-bottom: 1rem;

      &-title {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        h3 {
          // font-size: 1.5rem;
          font-family: 'Roboto Bold';
          font-weight: bold;
          margin: 0;
          margin-bottom: 0.5rem;
          padding: 0;
        }
      }
    }
  }
}
