:root {
  --primary: #9c1e18;
  --secondary: hsla(240, 50%, 100%);
  --dark: #262626;
  --grey: #525252;
  --shadow: 8px 10px 20px;
  --primary-transparent: hsla(249, 100%, 50%, 0.1);
  --blue: rgb(93, 193, 221);
  --or: rgb(240, 209, 62);
  --blue-fonce: rgb(58, 143, 159);
  --body-color: rgb(190, 194, 160);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  overflow: hidden;
  overflow-y: scroll;
}

.demande-ouvrier {
  position: relative;
  margin-top: -150px;
  z-index: 1;
}

.btn-primary {
  font-weight: 700;
  inset: 0;
  /* background-color: var(--or) !important; */
  border: none !important;
  transition: 0.5s;
  transition-delay: scale calc(0.2s * 2);
  text-transform: uppercase;
}

.btn-primary:hover {
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.25);
  opacity: 1;
  scale: 1;
}
