.partnersPage {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  // height: 100%;
  overflow-x: hidden;
  font-family: 'Inter Medium', sans-serif;

  &-block {
    &--detail-partners {
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: start;
      gap: 1rem;

      &-info {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 1rem;
      }

      &-more-info {
        flex: 3;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;

        &-insight {
          width: 100%;
          height: auto;
          margin-bottom: 2rem;
          &-title {
            font-size: 0.9rem;
            font-family: 'Roboto Bold';
            margin-bottom: 1rem;
          }
          &-body {
            display: flex;
            justify-content: start;
            gap: 1rem;
            width: 100%;

            &-item {
              flex: 1;
              display: flex;
              gap: 1rem;
              padding: 1rem;
              background-color: #fff;
              border-radius: 8px;
            }
          }
        }

        &-demande {
          width: 100%;
          height: auto;
          margin-bottom: 1rem;

          &-title {
            font-size: 0.9rem;
            font-family: 'Roboto Bold';
            margin-bottom: 1rem;
          }
        }

        &-document {
          margin-bottom: 1rem;
          background: '#FFF';
          width: 100%;

          @media screen and (max-width: 768px) {
            width: 100svw;
            height: auto;
          }

          &-title {
            font-size: 0.9rem;
            font-family: 'Roboto Bold';
            margin-bottom: 1rem;
            margin-left: 1rem;
          }

          &-item {
            padding: 0 1rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0.5rem;
            width: 100%;

            @media (max-width: 768px) {
              width: 100svw;
            }

            &--value {
              flex: 1;
              font-size: 0.775rem;
              font-family: 'Inter Medium';
              font-weight: 700;
              @media (max-width: 768px) {
                &:nth-child(2),
                &:nth-child(3) {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .partnersPage {
    padding: 0rem;
    width: 100%;
    height: 100vh;

    &-block {
      overflow: hidden;
      &--detail-partners {
        height: auto;
        flex-direction: column;
        display: block;

        &-info {
          width: 100vw;
          flex-direction: column;
          justify-content: center;
          height: auto;

          &-item {
            justify-content: center;
            width: 100vw;
            height: auto;
          }
        }
      }
    }
  }
}

.usersPage {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100vh;
  width: 100%;
  overflow: scroll;
  font-family: 'Inter Medium', sans-serif;

  &-block {
    &--users {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-bottom: 1rem;

      &-title {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        h3 {
          font-size: 1.5rem;
          font-family: 'Roboto Bold';
          font-weight: bold;
          margin: 0;
          margin-bottom: 0.5rem;
          padding: 0;
        }
      }

      &-body {
        display: flex;
        gap: 1rem;
        // width: 100%;
        margin-bottom: 1rem;
      }
    }
    &-permissions {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      margin-bottom: 1rem;

      &-item {
        background-color: white;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        margin-bottom: 0.5rem;
        padding: 1rem;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        border-radius: 8px;
      }
    }

    //Style detail utilisateurs
    &--detail-user {
      display: flex;
      justify-content: start;
      align-items: start;
      height: 100vh;
      width: 100%;
      gap: 1rem;
      overflow: hidden;
      background-color: transparent;

      &-info {
        flex: 1;
        padding: 1;
        margin-bottom: 1rem !important;
        overflow: scroll;
      }

      &-more-info {
        flex: 3;
        padding: 1;
      }
    }
  }
}

.form-add-user {
  padding: 1rem;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1rem;

  & .usersPage-block--users--form {
    padding: 1rem;
    border-radius: 8px;
    width: 70%;
    background-color: white;
    display: flex;
    flex-direction: column;
  }

  & .usersPage-block--users--permissions {
    width: 30%;
    margin-bottom: 0.5rem;
    transition: all 0.3s ease-in-out;
  }
}

.partnersPage-block--detail-partners-more-info-project {
  width: 100%;
  &-title {
    background-color: #fff;
    font-size: 0.9rem;
    font-family: 'Roboto Bold';
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 768px) {
      width: 100svw;
      height: auto;
    }
  }
}

/* Style des éléments de la liste des projets */
.partnersPage-block--detail-partners-more-info-project-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); // 4 items par ligne
  gap: 16px; // Espacement entre les items
  width: 100%;

  @media (max-width: 768px) {
    display: flex; // Mode flex pour mobile
    overflow-x: auto; // Autorise le scroll horizontal
    scroll-snap-type: x mandatory; // Snap pour un défilement fluide
    gap: 8px;
    padding: 8px;

    &::-webkit-scrollbar {
      display: none; // Supprime la barre de scroll
    }

    .partnersPage-block--detail-partners-more-info-project-list-item {
      flex: 0 0 calc(100% - 16px); // Une carte visible par largeur d'écran
      scroll-snap-align: center; // Centre l'élément lors du scroll
    }
  }
}

.partnersPage-block--detail-partners-more-info-project-list-item {
  position: relative;
  width: 100%; // L'item occupe toute la largeur disponible
  aspect-ratio: 4 / 3; // Assure un ratio uniforme pour les items
  overflow: hidden; // Empêche les débordements
  border-radius: 8px; // Arrondit les coins
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Ajoute une ombre subtile pour l'esthétique

  img {
    width: 100%; // L'image occupe la largeur de l'item
    height: 100%; // L'image occupe la hauteur de l'item
    object-fit: contain; // Contient l'image à l'intérieur sans la déformer
    object-position: center; // Centre l'image
    display: block; // Évite les comportements inattendus
  }
}
