$primary: #9c1e18;
$secondary: hsla(240, 50%, 100%);
$dark: #262626;
$grey: #525252;
$shadow: 8px 10px 20px;
$primary-transparent: hsla(249, 100%, 50%, 0.1);
$blue: rgb(93, 193, 221);
$or: rgb(240, 209, 62);
$blue-fonce: rgb(58, 143, 159);
$body-color: rgb(190, 194, 160);

//warning
$warning-50: #fffbeb;
$warning-100: #fef3c7;
$warning-200: #fde68a;
$warning-300: #fcd34d;
$warning-400: #fbbf24;
$warning-500: #f59e0b;
$warning-600: #d97706;
$warning-700: #b45309;
$warning-800: #92400e;
$warning-900: #78350f;

//success
$success-50: #e9f8f0;
$success-100: #c6f6d5;
$success-200: #9aefbc;
$success-300: #6ae59b;
$success-400: #3ee07f;
$success-500: #0eef6b;
$success-600: #0cd664;
$success-700: #0abe3e;
$success-800: #068b15;
$success-900: #046c11;

//red
$danger-50: #fde8e8;
$danger-100: #fbd0d0;
$danger-200: #f7a1a1;
$danger-300: #f37272;
$danger-400: #ef4343;
$danger-500: #ef4444;
$danger-600: #bc1010;
$danger-700: #8d0c0c;
$danger-800: #5e0808;
$danger-900: #2f0404;

// neutral
$neutral-50: #f9fafb;
$neutral-100: #f3f4f6;
$neutral-200: #e5e7eb;
$neutral-300: #d1d5db;
$neutral-400: #9ca3af;
$neutral-500: #6b7280;
$neutral-600: #4b5563;
$neutral-700: #374151;
$neutral-800: #1f2937;
$neutral-900: #111827;

// primary
$primary-50: #e5edff;
$primary-100: #ccdaff;
$primary-200: #99b6ff;
$primary-300: #6691ff;
$primary-400: #336dff;
$primary-500: #001750;
$primary-600: #003acc;
$primary-700: #002b99;
$primary-800: #001d66;

$dark: #262626;
$white: #ffffff;
